.title-53 {
    position: absolute;
    left: 29%;
    top: 25%;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 48pt;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);    
    transform: rotate(-2deg);
    font-weight: bold;
}